# Time-series API Emulator for MLB
This script emulates the time-series API of this competition to allow debugging in a local environment.

You can also emulate the public LB locally instead of submitting your code, since train_updated.csv also contains data for the public LB period.

This script is inspired by a great notebook by @its7171 at the Riiid competition.
https://www.kaggle.com/its7171/time-series-api-iter-test-emulator

## The emulator

In [1]:
import os
import warnings
from typing import Optional, Tuple

import pandas as pd


class Environment:
    def __init__(self,
                 data_dir: str,
                 eval_start_day: int,
                 eval_end_day: Optional[int],
                 use_updated: bool,
                 multiple_days_per_iter: bool):
        warnings.warn('this is mock module for mlb')

        postfix = '_updated' if use_updated else ''
        
        # recommend to replace this with pickle, feather etc to speedup preparing data
        df_train = pd.read_csv(os.path.join(data_dir, f'train{postfix}.csv'))

        players = pd.read_csv(os.path.join(data_dir, 'players.csv'))

        self.players = players[players['playerForTestSetAndFuturePreds'] == True]['playerId'].astype(str)
        if eval_end_day is not None:
            self.df_train = df_train.set_index('date').loc[eval_start_day:eval_end_day]
        else:
            self.df_train = df_train.set_index('date').loc[eval_start_day:]
        self.date = self.df_train.index.values
        self.n_rows = len(self.df_train)
        self.multiple_days_per_iter = multiple_days_per_iter

        assert self.n_rows > 0, 'no data to emulate'

    def predict(self, df: pd.DataFrame) -> None:
        # if you want to emulate public LB, store your prediction here and calculate MAE
        pass

    def iter_test(self) -> Tuple[pd.DataFrame, pd.DataFrame]:
        if self.multiple_days_per_iter:
            for i in range(self.n_rows // 2):
                date1 = self.date[2 * i]
                date2 = self.date[2 * i + 1]
                sample_sub1 = self._make_sample_sub(date1)
                sample_sub2 = self._make_sample_sub(date2)
                sample_sub = pd.concat([sample_sub1, sample_sub2]).reset_index(drop=True)
                df = self.df_train.loc[date1:date2]

                yield df, sample_sub.set_index('date')
        else:
            for i in range(self.n_rows):
                date = self.date[i]
                sample_sub = self._make_sample_sub(date)
                df = self.df_train.loc[date:date]

                yield df, sample_sub.set_index('date')

    def _make_sample_sub(self, date: int) -> pd.DataFrame:
        next_day = (pd.to_datetime(date, format='%Y%m%d') + pd.to_timedelta(1, 'd')).strftime('%Y%m%d')
        sample_sub = pd.DataFrame()
        sample_sub['date_playerId'] = next_day + '_' + self.players
        sample_sub['target1'] = 0
        sample_sub['target2'] = 0
        sample_sub['target3'] = 0
        sample_sub['target4'] = 0
        sample_sub['date'] = date
        return sample_sub


class MLBEmulator:
    def __init__(self,
                 data_dir: str = '../input/mlb-player-digital-engagement-forecasting',
                 eval_start_day: int = 20210401,
                 eval_end_day: Optional[int] = 20210430,
                 use_updated: bool = True,
                 multiple_days_per_iter: bool = False):
        self.data_dir = data_dir
        self.eval_start_day = eval_start_day
        self.eval_end_day = eval_end_day
        self.use_updated = use_updated
        self.multiple_days_per_iter = multiple_days_per_iter

    def make_env(self) -> Environment:
        return Environment(self.data_dir,
                           self.eval_start_day,
                           self.eval_end_day,
                           self.use_updated,
                           self.multiple_days_per_iter)

## How to use
All you need to do is to replace importing the `mlb` module with an instance of `MLBEmulator`.

In [2]:
emulation_mode = True

if emulation_mode:
    mlb = MLBEmulator(eval_start_day=20210701, eval_end_day=20210730)
else:
    import mlb

In [3]:
env = mlb.make_env()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:15: UserWarning: this is mock module for mlb
  from ipykernel import kernelapp as app

In [4]:
for n, (test_df, sample_prediction_df) in enumerate(env.iter_test()):
    display(test_df)
    display(sample_prediction_df)

,nextDayPlayerEngagement,games,rosters,playerBoxScores,teamBoxScores,transactions,standings,awards,events,playerTwitterFollowers,teamTwitterFollowers
date,,,,,,,,,,,
20210701,"[{""engagementMetricsDate"":""2021-07-02"",""player...","[{""gamePk"":633405,""gameType"":""R"",""season"":2021...","[{""playerId"":448281,""gameDate"":""2021-07-01"",""t...","[{""home"":1,""gamePk"":633456,""gameDate"":""2021-07...","[{""home"":0,""teamId"":118,""gamePk"":633457,""gameD...","[{""transactionId"":500430,""playerId"":656342,""pl...","[{""season"":2021,""gameDate"":""2021-07-01"",""divis...",NaN,"[{""gamePk"":633456,""gameDate"":""2021-07-01"",""gam...","[{""date"":""2021-07-01"",""playerId"":506433,""playe...","[{""date"":""2021-07-01"",""teamId"":147,""teamName"":..."

            date_playerId  target1  target2  target3  target4
date
20210701  20210702_593590        0        0        0        0
20210701  20210702_661269        0        0        0        0
20210701  20210702_669212        0        0        0        0
20210701  20210702_666201        0        0        0        0
20210701  20210702_680911        0        0        0        0
...                   ...      ...      ...      ...      ...
20210701  20210702_667674        0        0        0        0
20210701  20210702_672695        0        0        0        0
20210701  20210702_676103        0        0        0        0
20210701  20210702_676755        0        0        0        0
20210701  20210702_680430        0        0        0        0

[1187 rows x 5 columns]

,nextDayPlayerEngagement,games,rosters,playerBoxScores,teamBoxScores,transactions,standings,awards,events,playerTwitterFollowers,teamTwitterFollowers
date,,,,,,,,,,,
20210702,"[{""engagementMetricsDate"":""2021-07-03"",""player...","[{""gamePk"":633462,""gameType"":""R"",""season"":2021...","[{""playerId"":453286,""gameDate"":""2021-07-02"",""t...","[{""home"":1,""gamePk"":633451,""gameDate"":""2021-07...","[{""home"":0,""teamId"":112,""gamePk"":633462,""gameD...","[{""transactionId"":500646,""playerId"":622100,""pl...","[{""season"":2021,""gameDate"":""2021-07-02"",""divis...",NaN,"[{""gamePk"":633470,""gameDate"":""2021-07-02"",""gam...",NaN,NaN

            date_playerId  target1  target2  target3  target4
date
20210702  20210703_593590        0        0        0        0
20210702  20210703_661269        0        0        0        0
20210702  20210703_669212        0        0        0        0
20210702  20210703_666201        0        0        0        0
20210702  20210703_680911        0        0        0        0
...                   ...      ...      ...      ...      ...
20210702  20210703_667674        0        0        0        0
20210702  20210703_672695        0        0        0        0
20210702  20210703_676103        0        0        0        0
20210702  20210703_676755        0        0        0        0
20210702  20210703_680430        0        0        0        0

[1187 rows x 5 columns]

,nextDayPlayerEngagement,games,rosters,playerBoxScores,teamBoxScores,transactions,standings,awards,events,playerTwitterFollowers,teamTwitterFollowers
date,,,,,,,,,,,
20210703,"[{""engagementMetricsDate"":""2021-07-04"",""player...","[{""gamePk"":633416,""gameType"":""R"",""season"":2021...","[{""playerId"":452657,""gameDate"":""2021-07-03"",""t...","[{""home"":1,""gamePk"":633440,""gameDate"":""2021-07...","[{""home"":0,""teamId"":158,""gamePk"":633387,""gameD...","[{""transactionId"":500865,""playerId"":668663,""pl...","[{""season"":2021,""gameDate"":""2021-07-03"",""divis...",NaN,"[{""gamePk"":633401,""gameDate"":""2021-07-03"",""gam...",NaN,NaN

            date_playerId  target1  target2  target3  target4
date
20210703  20210704_593590        0        0        0        0
20210703  20210704_661269        0        0        0        0
20210703  20210704_669212        0        0        0        0
20210703  20210704_666201        0        0        0        0
20210703  20210704_680911        0        0        0        0
...                   ...      ...      ...      ...      ...
20210703  20210704_667674        0        0        0        0
20210703  20210704_672695        0        0        0        0
20210703  20210704_676103        0        0        0        0
20210703  20210704_676755        0        0        0        0
20210703  20210704_680430        0        0        0        0

[1187 rows x 5 columns]

,nextDayPlayerEngagement,games,rosters,playerBoxScores,teamBoxScores,transactions,standings,awards,events,playerTwitterFollowers,teamTwitterFollowers
date,,,,,,,,,,,
20210704,"[{""engagementMetricsDate"":""2021-07-05"",""player...","[{""gamePk"":633410,""gameType"":""R"",""season"":2021...","[{""playerId"":445276,""gameDate"":""2021-07-04"",""t...","[{""home"":0,""gamePk"":633410,""gameDate"":""2021-07...","[{""home"":0,""teamId"":119,""gamePk"":633398,""gameD...","[{""transactionId"":500951,""playerId"":656887,""pl...","[{""season"":2021,""gameDate"":""2021-07-04"",""divis...","[{""awardId"":""MLBPLAYOW"",""awardName"":""MLB Play ...","[{""gamePk"":633408,""gameDate"":""2021-07-04"",""gam...",NaN,NaN

            date_playerId  target1  target2  target3  target4
date
20210704  20210705_593590        0        0        0        0
20210704  20210705_661269        0        0        0        0
20210704  20210705_669212        0        0        0        0
20210704  20210705_666201        0        0        0        0
20210704  20210705_680911        0        0        0        0
...                   ...      ...      ...      ...      ...
20210704  20210705_667674        0        0        0        0
20210704  20210705_672695        0        0        0        0
20210704  20210705_676103        0        0        0        0
20210704  20210705_676755        0        0        0        0
20210704  20210705_680430        0        0        0        0

[1187 rows x 5 columns]

,nextDayPlayerEngagement,games,rosters,playerBoxScores,teamBoxScores,transactions,standings,awards,events,playerTwitterFollowers,teamTwitterFollowers
date,,,,,,,,,,,
20210705,"[{""engagementMetricsDate"":""2021-07-06"",""player...","[{""gamePk"":633353,""gameType"":""R"",""season"":2021...","[{""playerId"":435559,""gameDate"":""2021-07-05"",""t...","[{""home"":1,""gamePk"":633400,""gameDate"":""2021-07...","[{""home"":0,""teamId"":143,""gamePk"":633386,""gameD...","[{""transactionId"":501077,""playerId"":642180,""pl...","[{""season"":2021,""gameDate"":""2021-07-05"",""divis...",NaN,"[{""gamePk"":633389,""gameDate"":""2021-07-05"",""gam...",NaN,NaN

            date_playerId  target1  target2  target3  target4
date
20210705  20210706_593590        0        0        0        0
20210705  20210706_661269        0        0        0        0
20210705  20210706_669212        0        0        0        0
20210705  20210706_666201        0        0        0        0
20210705  20210706_680911        0        0        0        0
...                   ...      ...      ...      ...      ...
20210705  20210706_667674        0        0        0        0
20210705  20210706_672695        0        0        0        0
20210705  20210706_676103        0        0        0        0
20210705  20210706_676755        0        0        0        0
20210705  20210706_680430        0        0        0        0

[1187 rows x 5 columns]

,nextDayPlayerEngagement,games,rosters,playerBoxScores,teamBoxScores,transactions,standings,awards,events,playerTwitterFollowers,teamTwitterFollowers
date,,,,,,,,,,,
20210706,"[{""engagementMetricsDate"":""2021-07-07"",""player...","[{""gamePk"":633384,""gameType"":""R"",""season"":2021...","[{""playerId"":445926,""gameDate"":""2021-07-06"",""t...","[{""home"":0,""gamePk"":633364,""gameDate"":""2021-07...","[{""home"":0,""teamId"":147,""gamePk"":633382,""gameD...","[{""transactionId"":501453,""playerId"":656413,""pl...","[{""season"":2021,""gameDate"":""2021-07-06"",""divis...",NaN,"[{""gamePk"":633381,""gameDate"":""2021-07-06"",""gam...",NaN,NaN

            date_playerId  target1  target2  target3  target4
date
20210706  20210707_593590        0        0        0        0
20210706  20210707_661269        0        0        0        0
20210706  20210707_669212        0        0        0        0
20210706  20210707_666201        0        0        0        0
20210706  20210707_680911        0        0        0        0
...                   ...      ...      ...      ...      ...
20210706  20210707_667674        0        0        0        0
20210706  20210707_672695        0        0        0        0
20210706  20210707_676103        0        0        0        0
20210706  20210707_676755        0        0        0        0
20210706  20210707_680430        0        0        0        0

[1187 rows x 5 columns]

,nextDayPlayerEngagement,games,rosters,playerBoxScores,teamBoxScores,transactions,standings,awards,events,playerTwitterFollowers,teamTwitterFollowers
date,,,,,,,,,,,
20210707,"[{""engagementMetricsDate"":""2021-07-08"",""player...","[{""gamePk"":633355,""gameType"":""R"",""season"":2021...","[{""playerId"":448801,""gameDate"":""2021-07-07"",""t...","[{""home"":0,""gamePk"":633339,""gameDate"":""2021-07...","[{""home"":0,""teamId"":158,""gamePk"":633342,""gameD...","[{""transactionId"":501550,""playerId"":660644,""pl...","[{""season"":2021,""gameDate"":""2021-07-07"",""divis...",NaN,"[{""gamePk"":633347,""gameDate"":""2021-07-07"",""gam...",NaN,NaN

            date_playerId  target1  target2  target3  target4
date
20210707  20210708_593590        0        0        0        0
20210707  20210708_661269        0        0        0        0
20210707  20210708_669212        0        0        0        0
20210707  20210708_666201        0        0        0        0
20210707  20210708_680911        0        0        0        0
...                   ...      ...      ...      ...      ...
20210707  20210708_667674        0        0        0        0
20210707  20210708_672695        0        0        0        0
20210707  20210708_676103        0        0        0        0
20210707  20210708_676755        0        0        0        0
20210707  20210708_680430        0        0        0        0

[1187 rows x 5 columns]

,nextDayPlayerEngagement,games,rosters,playerBoxScores,teamBoxScores,transactions,standings,awards,events,playerTwitterFollowers,teamTwitterFollowers
date,,,,,,,,,,,
20210708,"[{""engagementMetricsDate"":""2021-07-09"",""player...","[{""gamePk"":633343,""gameType"":""R"",""season"":2021...","[{""playerId"":434378,""gameDate"":""2021-07-08"",""t...","[{""home"":0,""gamePk"":633359,""gameDate"":""2021-07...","[{""home"":0,""teamId"":119,""gamePk"":633334,""gameD...","[{""transactionId"":501780,""playerId"":650633,""pl...","[{""season"":2021,""gameDate"":""2021-07-08"",""divis...",NaN,"[{""gamePk"":633354,""gameDate"":""2021-07-08"",""gam...",NaN,NaN

            date_playerId  target1  target2  target3  target4
date
20210708  20210709_593590        0        0        0        0
20210708  20210709_661269        0        0        0        0
20210708  20210709_669212        0        0        0        0
20210708  20210709_666201        0        0        0        0
20210708  20210709_680911        0        0        0        0
...                   ...      ...      ...      ...      ...
20210708  20210709_667674        0        0        0        0
20210708  20210709_672695        0        0        0        0
20210708  20210709_676103        0        0        0        0
20210708  20210709_676755        0        0        0        0
20210708  20210709_680430        0        0        0        0

[1187 rows x 5 columns]

,nextDayPlayerEngagement,games,rosters,playerBoxScores,teamBoxScores,transactions,standings,awards,events,playerTwitterFollowers,teamTwitterFollowers
date,,,,,,,,,,,
20210709,"[{""engagementMetricsDate"":""2021-07-10"",""player...","[{""gamePk"":633366,""gameType"":""R"",""season"":2021...","[{""playerId"":434378,""gameDate"":""2021-07-09"",""t...","[{""home"":0,""gamePk"":633357,""gameDate"":""2021-07...","[{""home"":0,""teamId"":147,""gamePk"":633348,""gameD...","[{""transactionId"":502389,""playerId"":528748,""pl...","[{""season"":2021,""gameDate"":""2021-07-09"",""divis...",NaN,"[{""gamePk"":633365,""gameDate"":""2021-07-09"",""gam...",NaN,NaN

            date_playerId  target1  target2  target3  target4
date
20210709  20210710_593590        0        0        0        0
20210709  20210710_661269        0        0        0        0
20210709  20210710_669212        0        0        0        0
20210709  20210710_666201        0        0        0        0
20210709  20210710_680911        0        0        0        0
...                   ...      ...      ...      ...      ...
20210709  20210710_667674        0        0        0        0
20210709  20210710_672695        0        0        0        0
20210709  20210710_676103        0        0        0        0
20210709  20210710_676755        0        0        0        0
20210709  20210710_680430        0        0        0        0

[1187 rows x 5 columns]

,nextDayPlayerEngagement,games,rosters,playerBoxScores,teamBoxScores,transactions,standings,awards,events,playerTwitterFollowers,teamTwitterFollowers
date,,,,,,,,,,,
20210710,"[{""engagementMetricsDate"":""2021-07-11"",""player...","[{""gamePk"":633301,""gameType"":""R"",""season"":2021...","[{""playerId"":453568,""gameDate"":""2021-07-10"",""t...","[{""home"":0,""gamePk"":633317,""gameDate"":""2021-07...","[{""home"":0,""teamId"":109,""gamePk"":633311,""gameD...","[{""transactionId"":503256,""playerId"":676646,""pl...","[{""season"":2021,""gameDate"":""2021-07-10"",""divis...",NaN,"[{""gamePk"":633294,""gameDate"":""2021-07-10"",""gam...",NaN,NaN

            date_playerId  target1  target2  target3  target4
date
20210710  20210711_593590        0        0        0        0
20210710  20210711_661269        0        0        0        0
20210710  20210711_669212        0        0        0        0
20210710  20210711_666201        0        0        0        0
20210710  20210711_680911        0        0        0        0
...                   ...      ...      ...      ...      ...
20210710  20210711_667674        0        0        0        0
20210710  20210711_672695        0        0        0        0
20210710  20210711_676103        0        0        0        0
20210710  20210711_676755        0        0        0        0
20210710  20210711_680430        0        0        0        0

[1187 rows x 5 columns]

,nextDayPlayerEngagement,games,rosters,playerBoxScores,teamBoxScores,transactions,standings,awards,events,playerTwitterFollowers,teamTwitterFollowers
date,,,,,,,,,,,
20210711,"[{""engagementMetricsDate"":""2021-07-12"",""player...","[{""gamePk"":633307,""gameType"":""R"",""season"":2021...","[{""playerId"":445213,""gameDate"":""2021-07-11"",""t...","[{""home"":1,""gamePk"":633327,""gameDate"":""2021-07...","[{""home"":0,""teamId"":108,""gamePk"":633318,""gameD...","[{""transactionId"":503735,""playerId"":519306,""pl...","[{""season"":2021,""gameDate"":""2021-07-11"",""divis...","[{""awardId"":""FUTURES"",""awardName"":""Futures Gam...","[{""gamePk"":633307,""gameDate"":""2021-07-11"",""gam...",NaN,NaN

            date_playerId  target1  target2  target3  target4
date
20210711  20210712_593590        0        0        0        0
20210711  20210712_661269        0        0        0        0
20210711  20210712_669212        0        0        0        0
20210711  20210712_666201        0        0        0        0
20210711  20210712_680911        0        0        0        0
...                   ...      ...      ...      ...      ...
20210711  20210712_667674        0        0        0        0
20210711  20210712_672695        0        0        0        0
20210711  20210712_676103        0        0        0        0
20210711  20210712_676755        0        0        0        0
20210711  20210712_680430        0        0        0        0

[1187 rows x 5 columns]

,nextDayPlayerEngagement,games,rosters,playerBoxScores,teamBoxScores,transactions,standings,awards,events,playerTwitterFollowers,teamTwitterFollowers
date,,,,,,,,,,,
20210712,"[{""engagementMetricsDate"":""2021-07-13"",""player...",NaN,"[{""playerId"":453268,""gameDate"":""2021-07-12"",""t...",NaN,NaN,"[{""transactionId"":504088,""playerId"":621248,""pl...","[{""season"":2021,""gameDate"":""2021-07-12"",""divis...","[{""awardId"":""HRDERBYWIN"",""awardName"":""Home Run...",NaN,NaN,NaN

            date_playerId  target1  target2  target3  target4
date
20210712  20210713_593590        0        0        0        0
20210712  20210713_661269        0        0        0        0
20210712  20210713_669212        0        0        0        0
20210712  20210713_666201        0        0        0        0
20210712  20210713_680911        0        0        0        0
...                   ...      ...      ...      ...      ...
20210712  20210713_667674        0        0        0        0
20210712  20210713_672695        0        0        0        0
20210712  20210713_676103        0        0        0        0
20210712  20210713_676755        0        0        0        0
20210712  20210713_680430        0        0        0        0

[1187 rows x 5 columns]

,nextDayPlayerEngagement,games,rosters,playerBoxScores,teamBoxScores,transactions,standings,awards,events,playerTwitterFollowers,teamTwitterFollowers
date,,,,,,,,,,,
20210713,"[{""engagementMetricsDate"":""2021-07-14"",""player...","[{""gamePk"":634675,""gameType"":""A"",""season"":2021...","[{""playerId"":450203,""gameDate"":""2021-07-13"",""t...","[{""home"":0,""gamePk"":634675,""gameDate"":""2021-07...","[{""home"":0,""teamId"":159,""gamePk"":634675,""gameD...","[{""transactionId"":504703,""playerId"":573062,""pl...","[{""season"":2021,""gameDate"":""2021-07-13"",""divis...","[{""awardId"":""ASMVP"",""awardName"":""All-Star MVP""...",NaN,NaN,NaN

            date_playerId  target1  target2  target3  target4
date
20210713  20210714_593590        0        0        0        0
20210713  20210714_661269        0        0        0        0
20210713  20210714_669212        0        0        0        0
20210713  20210714_666201        0        0        0        0
20210713  20210714_680911        0        0        0        0
...                   ...      ...      ...      ...      ...
20210713  20210714_667674        0        0        0        0
20210713  20210714_672695        0        0        0        0
20210713  20210714_676103        0        0        0        0
20210713  20210714_676755        0        0        0        0
20210713  20210714_680430        0        0        0        0

[1187 rows x 5 columns]

,nextDayPlayerEngagement,games,rosters,playerBoxScores,teamBoxScores,transactions,standings,awards,events,playerTwitterFollowers,teamTwitterFollowers
date,,,,,,,,,,,
20210714,"[{""engagementMetricsDate"":""2021-07-15"",""player...",NaN,"[{""playerId"":444489,""gameDate"":""2021-07-14"",""t...",NaN,NaN,"[{""transactionId"":504772,""playerId"":605347,""pl...","[{""season"":2021,""gameDate"":""2021-07-14"",""divis...",NaN,NaN,NaN,NaN

            date_playerId  target1  target2  target3  target4
date
20210714  20210715_593590        0        0        0        0
20210714  20210715_661269        0        0        0        0
20210714  20210715_669212        0        0        0        0
20210714  20210715_666201        0        0        0        0
20210714  20210715_680911        0        0        0        0
...                   ...      ...      ...      ...      ...
20210714  20210715_667674        0        0        0        0
20210714  20210715_672695        0        0        0        0
20210714  20210715_676103        0        0        0        0
20210714  20210715_676755        0        0        0        0
20210714  20210715_680430        0        0        0        0

[1187 rows x 5 columns]

,nextDayPlayerEngagement,games,rosters,playerBoxScores,teamBoxScores,transactions,standings,awards,events,playerTwitterFollowers,teamTwitterFollowers
date,,,,,,,,,,,
20210715,"[{""engagementMetricsDate"":""2021-07-16"",""player...","[{""gamePk"":633291,""gameType"":""R"",""season"":2021...","[{""playerId"":444489,""gameDate"":""2021-07-15"",""t...",NaN,NaN,"[{""transactionId"":504997,""playerId"":520980,""pl...","[{""season"":2021,""gameDate"":""2021-07-15"",""divis...",NaN,NaN,NaN,NaN

            date_playerId  target1  target2  target3  target4
date
20210715  20210716_593590        0        0        0        0
20210715  20210716_661269        0        0        0        0
20210715  20210716_669212        0        0        0        0
20210715  20210716_666201        0        0        0        0
20210715  20210716_680911        0        0        0        0
...                   ...      ...      ...      ...      ...
20210715  20210716_667674        0        0        0        0
20210715  20210716_672695        0        0        0        0
20210715  20210716_676103        0        0        0        0
20210715  20210716_676755        0        0        0        0
20210715  20210716_680430        0        0        0        0

[1187 rows x 5 columns]

,nextDayPlayerEngagement,games,rosters,playerBoxScores,teamBoxScores,transactions,standings,awards,events,playerTwitterFollowers,teamTwitterFollowers
date,,,,,,,,,,,
20210716,"[{""engagementMetricsDate"":""2021-07-17"",""player...","[{""gamePk"":633283,""gameType"":""R"",""season"":2021...","[{""playerId"":448179,""gameDate"":""2021-07-16"",""t...","[{""home"":0,""gamePk"":633266,""gameDate"":""2021-07...","[{""home"":0,""teamId"":146,""gamePk"":633447,""gameD...","[{""transactionId"":505213,""playerId"":621043,""pl...","[{""season"":2021,""gameDate"":""2021-07-16"",""divis...",NaN,"[{""gamePk"":633346,""gameDate"":""2021-07-16"",""gam...",NaN,NaN

            date_playerId  target1  target2  target3  target4
date
20210716  20210717_593590        0        0        0        0
20210716  20210717_661269        0        0        0        0
20210716  20210717_669212        0        0        0        0
20210716  20210717_666201        0        0        0        0
20210716  20210717_680911        0        0        0        0
...                   ...      ...      ...      ...      ...
20210716  20210717_667674        0        0        0        0
20210716  20210717_672695        0        0        0        0
20210716  20210717_676103        0        0        0        0
20210716  20210717_676755        0        0        0        0
20210716  20210717_680430        0        0        0        0

[1187 rows x 5 columns]

,nextDayPlayerEngagement,games,rosters,playerBoxScores,teamBoxScores,transactions,standings,awards,events,playerTwitterFollowers,teamTwitterFollowers
date,,,,,,,,,,,
20210717,"[{""engagementMetricsDate"":""2021-07-18"",""player...","[{""gamePk"":633267,""gameType"":""R"",""season"":2021...","[{""playerId"":445926,""gameDate"":""2021-07-17"",""t...",NaN,NaN,"[{""transactionId"":505466,""playerId"":595928,""pl...","[{""season"":2021,""gameDate"":""2021-07-17"",""divis...",NaN,NaN,NaN,NaN

            date_playerId  target1  target2  target3  target4
date
20210717  20210718_593590        0        0        0        0
20210717  20210718_661269        0        0        0        0
20210717  20210718_669212        0        0        0        0
20210717  20210718_666201        0        0        0        0
20210717  20210718_680911        0        0        0        0
...                   ...      ...      ...      ...      ...
20210717  20210718_667674        0        0        0        0
20210717  20210718_672695        0        0        0        0
20210717  20210718_676103        0        0        0        0
20210717  20210718_676755        0        0        0        0
20210717  20210718_680430        0        0        0        0

[1187 rows x 5 columns]